@model List<HeadsetColor> 
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
}

<h1 style="text-align: center;">Shopping Cart</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <td>Amount</td>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var color in Model)
        {
            <tr>
                <td>@color.Id</td>
                <td>@color.Color</td>
                <td>@color.Count</td>
                <td>$39.99</td>
            </tr>
        }
    </tbody>
</table>